# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.sqlite3
/media
/staticfiles
/static
.env
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/
!**/migrations/__init__.py

# Logs
*.log

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Other
*.bak
*.swp
*.swo
.idea/